<div  class="XLH">
    <div>
        <div class="list">

            <div class="item item-input">
                <input  class="inputNum" ng-model="numX" type="text" ng-value="numX" placeholder="请输入序列号">
                <div ng-click="numX=''" class="fr YZclose" ><i class=" icon ion-ios-close"></i></div>
            </div>

        </div>
        <div class="row" >
            <div ng-click="numX=numX+'1'"  class="col col-30 text-center"><span>1</span></div>
            <div ng-click="numX=numX+'2'" class="col col-30 text-center"><span>2</span></div>
            <div ng-click="numX=numX+'3'" class="col col-30 text-center"><span>3</span></div>
        </div>
        <div class="row ">
            <div  ng-click="numX=numX+'4'" class="col col-30 text-center"><span>4</span></div>
            <div  ng-click="numX=numX+'5'" class="col col-30 text-center"><span>5</span></div>
            <div  ng-click="numX=numX+'6'" class="col col-30 text-center"><span>6</span></div>
        </div>
        <div class="row ">
            <div  ng-click="numX=numX+'7'" class="col col-30 text-center"><span>7</span></div>
            <div  ng-click="numX=numX+'8'" class="col col-30 text-center"><span>8</span></div>
            <div  ng-click="numX=numX+'9'" class="col col-30 text-center"><span>9</span></div>
        </div>
        <div class="row ">
            <div  ng-click="numX=numX+'0'" class="col col-40 text-center"><span class="ling">0</span></div>
            <div ui-sref="tabs.yzjg" class="col col-60 text-center"><span class="ok">验证</span></div>

        </div>

    </div>
</div>