<div ng-controller="serviceCtrl">
<div class="bar bar-header">
	<button class="button button-icon ion-android-arrow-back" ng-click="goback()"></button>
	<h3 class="title">修改地址/取消订单</h3>
</div>

 <ion-content class="has-header" >
 
   	<!--<ion-list>
        <div ng-repeat="group in groups">
          <ion-item class=" item-icon-right"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i style="font-size: 12px;" class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            &nbsp;
           {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div>
      </ion-list>-->
      <ion-list>
        <div ng-repeat="group in groupsa">
          <ion-item class=" item-icon-right"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i style="font-size: 12px;" class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            &nbsp;
           {{group.item}}
          </ion-item>
          <ion-item style="white-space: inherit;" class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div>
      </ion-list>

</ion-content>
</div>