<div class="header clearfix">
	<nav role="navigation">
		<div class="header_top hidden-xs hidden-sm hidden-md">
			<div class="header_top_main">
				<span class="top_links"><a class="top_link">企业邮箱</a> | <a class="top_link">OA系统</a></span>
				<i class="fa fa-search active"></i>
				<a class="top_link active">中文</a>
				<a class="top_link">EN</a>
			</div>
		</div>
		<div class="navbar-header">
			<div class="logo">
				<a href="index.html"><img src="img/logo.png" alt="中银律师事务所" class="logoimg"></a>
			</div>
			<div class="menu">
				<ul class="navbar-nav row">
					<li class="menu_li">
						<a href="index.html"><span class="nav_en">Home<br/></span>首页</a>
					</li>
					<li class="menu_li">
						<a href="about.html"><span class="nav_en">About us<br/></span>关于中银</a>
					</li>
					<li class="menu_li">
						<a href="practices.html"><span class="nav_en">Practice areas<br/></span>业务领域</a>
					</li>
					<li class="menu_li">
						<a href="team.html"><span class="nav_en">Our team<br/></span>专业团队</a>
					</li>
					<li class="menu_li">
						<a href="agency.html"><span class="nav_en">Global institutions<br/></span>全球机构</a>
					</li>
					<li class="menu_li">
						<a href="news.html"><span class="nav_en">News center<br/></span>新闻中心</a>
						<ul class="submenu">
							<li>
								<a href="news.html?id=1">中银动态</a>
							</li>
							<li>
								<a href="news.html?id=2">中银业绩</a>
							</li>
							<li>
								<a href="news.html?id=3">中银公益</a>
							</li>
						</ul>
					</li>
					<li class="menu_li">
						<a href="library.html"><span class="nav_en">Library<br/></span>中银文库</a>
						<ul class="submenu">
							<li>
								<a href="library.html?id=1">中银阅读</a>
							</li>
							<li>
								<a href="library.html?id=2">中银文集</a>
							</li>
							<li>
								<a href="library.html?id=3">中银内刊</a>
							</li>
							<li>
								<a href="library.html?id=4">中银法致</a>
							</li>
						</ul>
					</li>
					<li class="menu_li">
						<a href="Join.html"><span class="nav_en">Job opportunitie<br/></span>工作机会</a>
					</li>
					<li class="menu_li">
						<a href="contact.html"><span class="nav_en">Contact us<br/></span>联系我们</a>
					</li>
					<li class="menu_li hidden-lg">
						<a href="">English</a>
					</li>
				</ul>
			</div>
			<div class="navtoggle hidden-lg">
				<span class="mob_search"></span>
				<span class="mob_menu"></span>
			</div>
		</div>
		<div class="sub_search">
			<div class="header-search">
				<input type="text" title="搜索" class="form-control input-search" placeholder="搜索..." />
				<div class="search_btn"><span class="icon_search"></span></div>
			</div>
		</div>
	</nav>
</div>