<!--ie7及以下低版本浏览器显示升级提示，在index.html调试，其他页引入相应js文件-->       
<div class="m-browsehappy">
    <div class="browsehappy-inner">
        <p class="titletip">对不起！<br/>您的浏览器版本过低，为了更好的体验，建议您升级或更换浏览器浏览。</p>
        <p class="suggest">建议使用：</p>
        <p class="brower">
            <span class="item">
                <a class="chrome image" href="http://www.google.cn/intl/zh-CN/chrome/browser/?spm=1.7274553.0.0.benzR1" target="_blank" title="下载Chrome浏览器"></a>
                <b class="text">chrome</b>
            </span>
            <span class="item">
                <a class="firefox image" href="http://www.firefox.com.cn/download/" target="_blank" title="下载Firefox浏览器"></a>
                <b class="text">firefox</b>
            </span>
            <span class="item">
                <a class="ie image" href="https://www.microsoft.com/en-us/download/internet-explorer.aspx" target="_blank" title="下载Internet Explorer浏览器"></a>
                <b class="text">ie8+</b>
            </span>
        </p>               
    </div>
</div>
<script>
    window.nonsupportIE = true;
</script>