.travel header{
    z-index: 99;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    padding:0.2rem;
    font-size: 0.3rem;
    color: #FFF;
    background: #5189e9;
    text-align: center;
}
.travel header .Left{
    width:0.4rem;
    position: absolute;
    left:0.2rem;
}
.travel header .right{
    width:0.4rem;
    position: absolute;
    right:0.2rem;
    color: #fff;
}
.travel .content{
    padding-top: 0.8rem;
    padding-bottom: 1rem;
}
.travel .content .title{
    padding:0.1rem;
    padding-left: 0.5rem;
    margin: 0.2rem 0;
    font-size: 0.3rem;
    font-weight: bolder;
    color: #4f82ed;
    border-left: 0.1rem solid #4f82ed;
}
.travel .footer{
    z-index: 99;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top:1px solid #d4d4d4;
    background: #fff;
}
.travel .footer div{
    float: left;
    width:33.3%;
    text-align: center;
    padding:0.1rem;
    font-size: 0.25rem;

}
.travel .footer div a {
    color: #4f82ed;
}
.travel .footer div a img{
    width:0.4rem;
}
    /*报名成功*/
.travel .contentMy{
    padding: 0.8rem 0.2rem;
    text-align: center;
}
.travel .contentMy .contentBM1 , .contentBM2{
    overflow: hidden;
    padding-bottom: 0.3rem;
    border:1px solid #d4d4d4;
    border-radius: 0.1rem;
    color: #4f82ed;
    margin-top: 0.2rem;
}
.travel .contentMy .contentBM1 h1{
    margin:0.3rem 0;
    font-size: 0.4rem;
}
.travel .contentMy .contentBM1 h3{
    margin:0.3rem ;
}
.travel .contentMy .contentBM1 p{
    margin:0.2rem;
    font-size: 0.2rem;
}
.travel .contentMy .contentBM2 p{
    font-size: 0.3rem;
    padding:0.4rem;
    color: #000;
}
.travel .contentMy .contentDan{
    color: #000;
    font-weight: bolder;
    padding-right: 0.2rem;
}
.travel .contentMy .contentDan h1:nth-of-type(2){
    margin-bottom: 0.6rem;
}

/*轮播内容 秒杀抢购*/
.travel .content .con2 .con2_s{
    height: 100%;
}
.travel .content .con2 .con2_1{
    display: block;
    float: left;
    width: 48%;
    margin:0.05rem;
    border-radius: 0.1rem;
    background: #fff;
    border:1px solid #d4d4d4;
}
.travel .content .con2 .con2_1 .con2_1_left{
    background: #4f82ed;
    height:100%;
    padding:0.1rem;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    color: #fff;

}
.travel .content .con2 .con2_1 .con2_1_left img{
    width:0.2rem;
    vertical-align: middle;
    margin:0.05rem;
    margin-right: 0.2rem;
}
.travel .content .con2 .con2_1 .con2_1_right{
    max-width:59%;
    text-align: center;
}
.travel .content .con2 .con2_1 .con2_1_right h1{
    font-size: 0.25rem;
    font-weight: bolder;
    color: #4f82ed;
    margin-top: 0.1rem;
}
.travel .content .con2 .con2_1 .con2_1_right span{
    margin:0.1rem;
}
.travel .content .con2 .con2_1 .con2_1_left p{
    line-height: 0.5rem;
    font-size: 0.2rem;
}
.travel .content .con2 .con2_1 .con2_1_left .con2_jage{
    font-size: 0.3rem;
    font-weight: bolder;
    margin: 0 0.1rem 0.1rem 0;
}

/*热门尾单*/
.travel .content .con3_1{
    display: block;
    height: 3rem;
    border:1px solid;
    position: relative;
    margin:0.1rem;
    border-radius: 0.1rem;
}
.travel .content .con3_1 .con3_footer{
    padding:0.2rem;
    width:100%;
    position: absolute;
    bottom: 0;
    height: 1rem;
    background: #4f82ed;
    color: #fff;
    border-bottom-left-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    font-size: 0.3rem;
    text-align: center;

}
.travel .content .con3_1 .con3_footer .fl{
    height: 1rem;
    line-height: 0.6rem;
}
.travel .content .con3_1 .con3_footer .fl img{
    vertical-align: middle;
    width:0.4rem;
}


/**/