<div class="" ng-controller="FrientdsCtrl">

<div class="bar bar-header bar-light">
	<button class="button button-icon ion-ios-arrow-left" ng-click="goback()"></button>
	<h3 class="title">发现好友</h3>
	<button class="button button-icon ion-ios-search"></button>
</div>


	 	 <div style="margin-top: 44px;" has-bouncing="false" class="has-header">
			 <div style="display:flex;width:100%;">
			  <div style="flex:1;text-align: center;" class="tab_default" ng-repeat="d in tabNames" ng-click="activeSlide($index)" ng-class="slectIndex==$index ? 'tab_select' : '' ">
			   {{d}}
			   <div class="arrow-top" style="left:{{15+$index*33}}%" ng-show="slectIndex==$index"></div>
			  </div> 
			 </div> 
		
 		</div>

	<ion-content class="has-header has-top">
		 <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" does-continue="false" show-pager="false">
		  <ion-slide ng-repeat="p in pages">
		   <div ng-include="p"></div>
		  </ion-slide>
	 </ion-slide-box>
		
</ion-content>

	
</div>