
    <style>
        .fr{
            float: right;
        }
        .XXLB .bar-header{
            color: #fffff;
            background: url("images/shangjia/Top.fw.png")no-repeat 100%;
        }
        .XXLB .DGcont{
            margin-top: 140px;
        }
        .XXLB .DGcont p{
            color: #666;
        }
        .backE{
            background: #eee;
        }
    </style>

<div >
    <div class="XXLB">
        <div class="bar bar-header">
            <button class="Fb button button-icon ion-ios-arrow-left" ng-click="goback()"></button>
            <h1 class="Fb title">消息</h1>
        </div>
            <ion-content class="backE has-header">
                <div class="list">
                    <a ui-sref="tabs.message" ng-click="tabs" class="item item-avatar">
                        <img src="images/shangjia/s22.png">
                        <h2>约K~~~~~~<p class="fr">2017.02.05</p></h2>
                        <p>好的</p>
                    </a>
                </div>
            </ion-content>
        </div>
    </div>
