<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="utf-8" />
		<title>限时抢购</title>
		<link rel="stylesheet" type="text/css" href="css/ionic.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/xsqg.css"/>
		<script src="js/ionic.bundle.min.js"></script>
	</head>
	<body ng-controller="myCon">
		<ion-header-bar class="bar-royal">
			<button class="button button-clear">
				<i class="icon ion-ios-arrow-back"></i>
			</button>
			<h2 class="title">限时抢购</h2>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item>
					<p>
						<i class="icon ion-ios-alarm-outline royal"></i>
						<i class="tit">限时抢购</i>
						<span class="top"><b>04</b>:<b>03</b>:<b>26</b></span>
					</p>
				</ion-item>
				<a class="item item-thumbnail-left" href="#">
      				<img src="img/xs1.png">
      				<p class="r">索爱CK-M3家庭KTV音响套装会议功放<br/>专业卡包音箱 电视卡拉OK家用</p>
      				<p class="m" style="color: purple;">￥<span class="mm">388</span><span class="ud">￥741</span></p>
      				<p class="r">
      					<span class="bou">已抢购123</span>
      					<button class="button button-outline button-small button-royal">立即抢购</button>
      				</p>
    			</a>
				<ion-item>
					<p>
						<i class="icon ion-ios-alarm-outline royal"></i>
						<i class="tit">限时抢购</i>
						<span class="top"><b>04</b>:<b>03</b>:<b>26</b></span>
					</p>
				</ion-item>
				<a class="item item-thumbnail-left" href="#">
      				<img src="img/xs2.png">
      				<p class="r">InAndon音王KB505 1000G高清点歌机<br/>家庭KTV 卡拉OK点唱一体机</p>
      				<p class="m" style="color: purple;">￥<span class="mm">388</span><span class="ud">￥741</span></p>
      				<p class="r">
      					<span class="bou">已抢购123</span>
      					<button class="button button-outline button-small button-royal">立即抢购</button>
      				</p>
    			</a>
    			<ion-item>
					<p>
						<i class="icon ion-ios-alarm-outline royal"></i>
						<i class="tit">限时抢购</i>
						<span class="top"><b>04</b>:<b>03</b>:<b>26</b></span>
					</p>
				</ion-item>
				<a class="item item-thumbnail-left" href="#">
      				<img src="img/xs3.png">
      				<p class="r">索爱CK-M3家庭KTV音响套装会议功放<br/>专业卡包音箱 电视卡拉OK家用</p>
      				<p class="m" style="color: purple;">￥<span class="mm">388</span><span class="ud">￥741</span></p>
      				<p class="r">
      					<span class="bou">已抢购123</span>
      					<button class="button button-outline button-small button-royal">立即抢购</button>
      				</p>
    			</a>
			</ion-list>
		</ion-content>
		<script type="text/javascript">
			var myApp = angular.module("myApp", ["ionic"]);
			myApp.controller("myCon", ["$scope", function($scope) {

			}]);
		</script>
	</body>
</html>
