<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="utf-8" />
		<title>新闻动态</title>
		<link rel="stylesheet" type="text/css" href="css/ionic.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/xwdt.css"/>
		<script src="js/ionic.bundle.min.js"></script>
	</head>
	<body ng-controller="myCon">
		<ion-header-bar class="bar-royal">
			<button class="button button-clear">
				<i class="icon ion-ios-arrow-back"></i>
			</button>
			<h2 class="title">新闻动态</h2>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<a class="item item-thumbnail-left" href="#">
      				<img src="img/xw01.png">
      				<h3 class="t">怎样在KTV里运用K歌技巧<span>2015-08-14</span></h3>
      				<p class="bm">要想唱一首歌曲，首先唱歌的人一定要<br/>做到声情并茂。</p>
    			</a>
    			<a class="item item-thumbnail-left" href="#">
      				<img src="img/xw02.png">
      				<h3 class="t">怎样在KTV里运用K歌技巧<span>2015-08-14</span></h3>
      				<p class="bm">要想唱一首歌曲，首先唱歌的人一定要<br/>做到声情并茂。</p>
    			</a>
    			<a class="item item-thumbnail-left" href="#">
      				<img src="img/xw03.png">
      				<h3 class="t">怎样在KTV里运用K歌技巧<span>2015-08-14</span></h3>
      				<p class="bm">要想唱一首歌曲，首先唱歌的人一定要<br/>做到声情并茂。</p>
    			</a>
    			<a class="item item-thumbnail-left" href="#">
      				<img src="img/xw04.png">
      				<h3 class="t">怎样在KTV里运用K歌技巧<span>2015-08-14</span></h3>
      				<p class="bm">要想唱一首歌曲，首先唱歌的人一定要<br/>做到声情并茂。</p>
    			</a>
    			<a class="item item-thumbnail-left" href="#">
      				<img src="img/xw05.png">
      				<h3 class="t">怎样在KTV里运用K歌技巧<span>2015-08-14</span></h3>
      				<p class="bm">要想唱一首歌曲，首先唱歌的人一定要<br/>做到声情并茂。</p>
    			</a>
    			<a class="item item-thumbnail-left" href="#">
      				<img src="img/xw06.png">
      				<h3 class="t">怎样在KTV里运用K歌技巧<span>2015-08-14</span></h3>
      				<p class="bm">要想唱一首歌曲，首先唱歌的人一定要<br/>做到声情并茂。</p>
    			</a>
    			
			</ion-list>
		</ion-content>
		<script type="text/javascript">
			var myApp = angular.module("myApp", ["ionic"]);
			myApp.controller("myCon", ["$scope", function($scope) {

			}]);
		</script>
	</body>
</html>
