<ion-view hide-tabs="true" view-title="与谁聊天">
    <style>
        .fr{
            float: right;
        }
        .YSLT .bar-header{
            color: #fffff;
            background: url("images/shangjia/Top.fw.png")no-repeat 100%;
        }
        .YSLT .DGcont{
            margin-top: 140px;
        }
        .YSLT .DGcont p{
            color: #666;
        }
        .backE{
            background: #eee;
        }
        .YSLT .btn{
            color: #ffffff;
            background: #993366;
        }
    </style>
<ion-view hide-tabs="true" view-title="聊天">
<div class="YSLT">
    <div class="bar bar-header">
        <button class="Fb button button-icon ion-ios-arrow-left" ng-click="goback()"></button>
        <h1 class="Fb title">与xxx</h1>
    </div>
        <ion-content class="backE has-header">
        </ion-content>
    <div class="bar bar-footer item-input-inset">
        <i class="icon ion-happy-outline placeholder-icon"></i>
        <label class="item-input-wrapper">
            <input type="text">
        </label>
        <button class="button btn">
            发送
        </button>
    </div>
</div>
    </ion-view>
