<div id="" ng-controller="homeCtrl">
<div class="bar bar-header item-input-inset bar-assertive">
			  <label class="item-input-wrapper">
			    <i class="icon ion-android-search placeholder-icon"></i>
			    <input type="search" placeholder="搜索笔记，商品和用户">
			  </label>
			  <button ng-click="takePhoto()" class="button button-icon ion-ios-camera-outline">
			  </button>
		</div>
		<div class="has-header row bar-assertive bar-nav ">
			<div class="nav-content col-90">
				 <ion-scroll
            	 direction="x"
            	 scrollbar-x="false"
            	 > 
            	  <div style="display:flex;width:500px;">
					  <div style="flex:1;text-align: center;" class="tab_default" ng-repeat="d in tabNames" ng-click="activeSlide($index)" ng-class="slectIndex==$index ? 'tab_select' : '' ">
					   {{d}}
					   <div class="arrow-top" style="left:{{15+$index*33}}%" ng-show="slectIndex==$index"></div>
					  </div> 
				 </div> 
			</ion-scroll>
			</div>
			<div class="col-10 text-centent text-center">
				<i  class="ion ion-chevron-down"></i>
			</div>
  </div>
<ion-content class="has-header has-top">
		<ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" does-continue="false" show-pager="false">
		  <ion-slide ng-repeat="p in pages">
		   	<div ng-include="p"></div>
		  </ion-slide>
	    </ion-slide-box>
		</ion-content>
</div>