<!DOCTYPE html>
<html ng-app="myapp" ng-controller="main">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>城市列表</title>
		<!--<link rel="stylesheet" type="text/css" href="css/ionic.min.css"/>
		<script type="text/javascript" src="js/ionic.bundle.js"></script>
		<script type="text/javascript" src="js/jquery-3.1.1.js"></script>-->
		<style type="text/css">
			.c-zhimuposition{
				position: fixed;
				right: 2px;
				top:55px;
				width: 15px;
				height: 100%;
				z-index: 99;
			}
			.c-navs{
				width: 15px;
				height: 3.5%;
				text-align: center;
			}
			
			.c-nav-posibg{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -99;
			}
			.c-nav-posibg img{
				width: 100%;
				height: 100%;
			}
			.button-clear.button-clear{
				color:#FFFFFF;
			}
			
			.c-addcolor{
				color: #663399;
				font-size: 20px;
			}
			.c-navtextcolor{
				color:#FFFFFF;
				font-size: 18px;
				margin: 0 auto;
				line-height: 40px;
			}
		</style>
	</head>
	<body>
		<ion-header-bar>
			<button class="button button-clear icon ion-ios-arrow-left" ui-sref="tabs.home"></button>
			<div class="c-navtextcolor">
				选择城市
			</div>
			<div class="c-nav-posibg"><img src="img/c-027.png"/></div>
		</ion-header-bar>
		
		<ion-content class="content has-header scroll scroll-content" on-scroll="scro($event)" style="overflow-y: scroll;" delegate-handle="mainScroll">
										<!--ionic中的滚动条监听事件 $event -->
			<div class="list" ng-repeat="item in citylist.citys">
				<div class="item item-divider na">
					{{item.key}}
				</div> 
				<div class="item" ng-repeat="items in item.name">
					{{items}} 
				</div>
			</div>	
		</ion-content>
		<!--字母提示栏-->
		<div class="c-zhimuposition" >																
			<div class="c-navs" ng-repeat="item in citylist.citys" ng-class="{'addcolor' : $index == surrindex}" ng-click="myclick($index,item.key)">{{item.key}}</div>
		</div>
	</body>
	<script type="text/javascript">
//		angular.module("myapp",["ionic"])
//		.controller("main",["$scope","$http","$ionicScrollDelegate",function($scope,$HTTP,$ionicScrollDelegate){
//			//通过ajax完成数据展示
//			$HTTP.get("js/cityList.json").success(function(data){
//				//获取成功
//				console.log(data)
//				//得到城市数据
//				var list = data.citys;
//				//开始解析数据，得到想要的格式--在ionic页面里需要循环得到的数据
//				$scope.citylist = {};
//				
//				$scope.citylist.citys = [];
//				
//				//声明城市首个字母 方便对比
//				var str=$scope.str= "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
//				for(var i=0; i<str.length; i++){
//					//得到每个字母用于比较
////					console.log(str[i])
//					var tempobj = {};
//					tempobj.key = "";
//					tempobj.name = [];
//					//把每个字母添加给tempobj 的key
//					tempobj.key = str[i];
//					//循环城市列表的长度
//					for(var j=0; j<list.length; j++){
//						var sub = list[j].pinyin.substring(0,1).toUpperCase();
//						//得到每个城市拼音的首个字母大写
////						console.log(sub)
//						if(tempobj.key == sub){
//							tempobj.name.push(list[j].city)
//						}
//					}
//					$scope.citylist.citys.push(tempobj);
//				}
////				console.log($scope.citylist)
////				console.log($scope.citylist.citys)
//			});
//			
//			//颜色,当前的
//			$scope.surrindex = 0;
//			//字母导航栏的点击跳转事件
//			$scope.myclick = function(index,key){
//				//点击那个 就把当前的点击元素的下标传给
//				$scope.surrindex = index;
////				console.log(key)
////				$(".position>div").removeClass("addcolor");//先删除类
////				$(".position>div:contains('+key+')").addClass("addcolor")//在包含有content的元素上添加类
//				var top = $(".position:contains("+key+")").offset().top - 43;
//				$ionicScrollDelegate.$getByHandle('mainScroll').scrollBy(0,top,true);
//			};
//			var text = "";
//			$scope.scro = function(e){
//				//拿到当前item-divider 的下标 返回当前元素的内容
//				$(".na").each(function(index,item){
//					//如果当前元素相对顶部小于50 那么text 就等于 当前的元素的内容 trim()清楚两边空格
//					 if($(this).offset().top<50){
//					 	text = $(this).text().trim();
//					 }else{
//					 	return false;
//					 }
//				});
////				console.log(text)
//				//判断 当text发生变化 吧样式修改 传到上面
//				$(".c-navs").each(function(){
//					if($(this).text()  == text){
//						$(this).addClass("c-addcolor");
//						$(this).siblings().removeClass("c-addcolor");
//					}
//				})
//			}
//		}])
	</script>
</html>
