.FriendDT .header{
	height: 4rem;
	background: #339966;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	
}
.FriendDT .header img{
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	margin: 0.3rem 0 0 0;
}
.FriendDT .header h2{
	margin-bottom: 0.2rem;
	font-size: 0.4rem;
}
.FriendDT .header ul{
	padding:0.1rem 0.5rem;
	display: flex;
}
.FriendDT .header ul li{
	flex: 1;
	margin: 0.1rem;
	padding: 0.05rem;
	border-radius: 0.1rem;
	background:#FFFFFF;
	color: #000;
}
.FriendDT .content .message{
	width: 3rem;
	margin:0.5rem auto;
	height: 0.6rem;
	line-height: 0.6rem;
	border-radius: 0.1rem;
	text-align: center;
	background: #FFFFFF;
}

.FriendDT .footer{
	width: 100%;
	height: 1rem;
	background: #FFFFFF;
	border-top: 1px solid #B1B1B1;
	position: absolute;
	bottom: 0;
	
}
.FriendDT .footer div{
	text-align: center;
	width: 25%;
	float: left;
	display: block;
}
