.FriendDT .header{
	height: 4rem;
	background: #339966;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;	
}
.FriendDT .header img{
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	margin: 0.3rem 0 0 0;
}
.FriendDT .header h2{
	margin-bottom: 0.2rem;
	font-size: 0.4rem;
}
.FriendDT .header ul{
	padding:0.1rem 0.5rem;
	display: flex;
}
.FriendDT .header ul li{
	flex: 1;
	margin: 0.1rem;
	padding: 0.05rem;
	border-radius: 0.1rem;
	background:#FFFFFF;
	color: #000;
}
.FriendDT .content .message{
	width: 3rem;
	margin:0.5rem auto;
	height: 0.6rem;
	line-height: 0.6rem;
	border-radius: 0.1rem;
	text-align: center;
	background: #FFFFFF;
	font-size: 0.3rem;
}
.FriendDT .content .message i{
	display: inline-block;
    width: 0.35rem;
}
.FriendDT .content .message img{
	width: 100%;
	vertical-align: sub;
	
}
.FriendDT .footer{
	width: 7.5rem;
	height: 1.2rem;
	background: #FFFFFF;
	border-top: 1px solid #B1B1B1;
	position: fixed;
	bottom: 0;
	padding: 0.1rem 0;
	
}
.FriendDT .footer div{
	text-align: center;
	width: 25%;
	float: left;
	display: block;
}
.FriendDT .footer div img{
    width: 0.6rem;
}
.FriendDT .footer div p{
	font-size: 0.3rem;
	color: #b3b3b3;
}
