<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>friend</title>
    <link rel="stylesheet" href="css/reset.css">
    	<link rel="stylesheet" type="text/css" href=""/>
    <link rel="stylesheet" href="css/friendList.css" />

</head>
<body class="scope">
<div class="Friend ">
    <div class="list">
           	<div class="item item-divider">全部关注</div>
            <div class="item item-avatar" ng-click="lays()">
                <div class="fl">
                    <img src="img/head.png">
                </div>
               <div class="fl">
                   <h2 >标题控</h2>
                   <p>欢迎大家关注我</p>
               </div>
                <div class="huDong fr">
                    <img src="img/hudong.png" alt="">
                </div>
            </div>
            <div class="item item-avatar" href="#">
                <div class="fl">
                    <img src="img/head.png">
                </div>
                <div class="fl">
                    <h2 >起个名字</h2>
                    <p>欢迎大家关注我关注我关注我关注我</p>
                </div>
            </div>
        </div>
        <!--遮罩层-->
        <div class="Fmodel"></div>
        <!--底部弹窗-->
        <div class="lays" ng-show="lays2">
            <div class="lay1">私信</div>
            <div ng-click="cancelAttention()" class="lay2">取消关注</div>
            <div ng-click="cancel()" class="lay3">取消</div>
        </div>
        <!--取消关注-->
</div>

  <script src="js/libyys-flexible.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/jquery.1.11.3.js"></script>
</body>
</html>