html , body  , .myIndent{
    height:100%;
    background: #666666;
}
.myIndent header{
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding:0.2rem;
    font-size: 0.3rem;
    color: #FFF;
    background: #5189e9;
    text-align: center;
}
.myIndent header .Left{
    width:0.4rem;
    position: absolute;
    left:0.2rem;
}
.myIndent .footer{
    z-index: 99;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top:1px solid #d4d4d4;
    background: #fff;
}
.myIndent .footer div{
    float: left;
    width:33.3%;
    text-align: center;
    padding:0.1rem;
    font-size: 0.25rem;

}
.myIndent .footer div a{
    color: #4f82ed;
}
.myIndent .footer div a img{
    width:0.4rem;
}
.myIndent .content{
    padding: 0.8rem 0 1rem 0;
}
.myIndent .content .item{

    overflow: hidden;
    padding:0.2rem;
    padding-bottom: 0;
}
.myIndent .content .item .left div{
    float: left;
}
.myIndent .content .item .left{
    position: relative;
    width: 84%;
    height: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    padding:0.2rem;
    padding-left: 0.4rem;
}
.myIndent .content .item .jl_active{
    color: #4f82ed;
}
.myIndent .content .item .right{
    background: #FFFFff;
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 50%;
}

.myIndent .content .item .left div:nth-of-type(1){
    font-size: 0.2rem;
    line-height: 0.35rem;
}
.myIndent .content .item .left div:nth-of-type(2){
    margin:0 0.4rem 0 0.2rem;
}
.myIndent .content .item .left div:nth-of-type(3){
    white-space:nowrap;
    overflow: hidden;
    width:3rem;
    font-size: 0.25rem;
}
.myIndent .content .item .left div:nth-of-type(3) p:first-child{
    font-weight: bolder;
}
.myIndent .content .item .left div:nth-of-type(4){
    position: absolute;
    right: 0.3rem;
    top:0.33rem;
}
.myIndent .content .item .left div:nth-of-type(4) img{
    width:0.3rem;
}