.main {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #ffffff;
}
.main .head-image {
  width: 100%;
  text-align: center;
  margin-top: 0.98rem;
}
.main .head-image img {
  display: inline-block;
  width: 2.51rem;
  height: 2.51rem;
}
.main .head-content {
  text-align: center;
}
.main .head-content h3 {
  font-size: 0.23rem;
  color: #3c3c3c;
  letter-spacing: 0.01rem;
  line-height: 1rem;
  font-weight: bold;
}
.main .head-content p {
  line-height: 0.5rem;
  color: #3c3c3c;
  font-weight: bold;
}
.main .head-slide {
  width: 4.68rem;
  margin: 0.5rem auto;
  height: 2px;
  background: #b1b1b1;
}
.main .head-qr {
  display: block;
  text-align: center;
}
.main .head-qr img {
  width: 3.39rem;
  height: 3.39rem;
  display: block;
  margin: 0 auto;
}
.main .head-qr .head-save {
  display: inline-block;
  width: 1.38rem;
  line-height: 0.52rem;
  margin-top: 0.5rem;
  background: #ffffff;
  border: 2px solid #707070;
  border-radius: 0.08rem;
  font-size: 0.24rem;
  color: #3c3c3c;
}
